<header>
    <div class="container-fluid text-center">
        <img src="assets/logo.png" height="125">
        <div class="d-block ms-3">
          <h5>Government of SIKKIM</h5>         
        </div>
      </div>
</header>
<nav class="navbar navbar-expand-lg mt-2">
    <div class="container-fluid">
      <button class="navbar-toggler shadow-none  ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <svg class="ham hamRotate ham4" viewBox="0 0 100 100" width="50" onclick="this.classList.toggle('active')">
            <path
                class="line top"
                d="m 70,33 h -40 c 0,0 -8.5,-0.149796 -8.5,8.5 0,8.649796 8.5,8.5 8.5,8.5 h 20 v -20" />
            <path
                class="line middle"
                d="m 70,50 h -40" />
            <path
                class="line bottom"
                d="m 30,67 h 40 c 0,0 8.5,0.149796 8.5,-8.5 0,-8.649796 -8.5,-8.5 -8.5,-8.5 h -20 v 20" />
        </svg>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav d-flex justify-content-evenly w-100">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLink="/home" routerLinkActive="active">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  aria-current="page" routerLink="/about" routerLinkActive="active">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLink="/gallary" routerLinkActive="active">Galary</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"aria-current="page" routerLink="/featured" routerLinkActive="active">Featured</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLink="/faq" routerLinkActive="active">F.A.Q.</a>
          </li>
        </ul>
      </div>
    </div>
</nav>
