<div>
    <h1>Book Cart</h1>
  
  <div *ngIf="errorMessage" class="error">{{ errorMessage }}</div>
  <h2>Add New Book</h2>
  <div *ngIf="!editedItem">
    <input type="text" placeholder="Name" [(ngModel)]="newItem.name" />
    <input type="text" placeholder="Author" [(ngModel)]="newItem.description" />
    <button (click)="addItem()">Add Item</button>
  </div>
  
  <div *ngIf="editedItem">
    <h2>Edit Item</h2>
    <input type="text" placeholder="Name" [(ngModel)]="editedItem.name" />
    <input type="text" placeholder="Author" [(ngModel)]="editedItem.description" />
    <button (click)="updateItem()">Update</button>
    <button (click)="cancelEdit()">Cancel</button>
  </div>
  
  <h2>Book List</h2>
  
  <ul>
    <li *ngFor="let item of items">
      {{ item.name }} - {{ item.description }}
      <button (click)="editItem(item)">Edit</button>
      <button (click)="deleteItem(item.id)">Delete</button>
    </li>
  </ul>
  </div>
  
